.button{
    padding:1rem;
    background-color:yellow;
    border-radius: 0.5rem;
    
}
#txtInput1{
    padding: 2 rem;
    width: 50rem;
    height:10rem;

}

#output{
    padding: 2 rem;
    width: 80%;
    height:10vh;
    border:1px solid rgb(19, 18, 18); 
}